/* .bonusEditor{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .score{
    font-size: 1.6rem;
} */

.scoreSlab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
